body{
    text-align: center;  
    background-image: url(backImage.png);
    background-size:cover;
    background-repeat: no-repeat;
}

#gameName{
    padding-top: 7%;
}

.gameBoard{
    margin-bottom: 20%;
}

#myPoint{
    color: azure;
    background-color: black;
    margin-bottom: 7%;
}

#comPoint{
    color: azure;
    background-color: black;
    margin-bottom: 7%;
}

.myChoice{
    float: left;
    margin-left: 30%;
    padding: 2%;    
}

.computerChocice {
    float: right;
    margin-right: 30%;
    padding: 2%;
}

#game{
    padding-bottom: 5%;
}

h4{
    margin-top: 15%;
}